<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

Standalone datepicker:
{{pikaday-input format='dddd MMMM Do YYYY' theme='dark-theme'}}

<br>

Datepicker with bound and set value:
{{pikaday-input value=startDate format='DD.MM.YYYY, h:mm:ss a' showTime=true showMinute=false incrementHourBy=0.5}}
{{startDate}}
<br>
<button {{action "clearStartDate"}}>Clear Date</button>
<br>

Datepicker already disabled before it's rendered:
{{pikaday-input disabled="disabled"}}
